/* Style global de la page */
body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background:linear-gradient(to bottom , black , #4c84ff);
}

/* Bandeau supérieur */
header {
    background: #113a91;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Conteneur principal (gauche + droite) */
.container {
    display: grid;
    padding: 20px;
    gap: 20px;
}

/* Panneau de gauche */
.panel {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Liste des employés */
#unassignedList {
    padding: 0;
    list-style: none;
}

/* Style des cartes employés */
.staff {
    background: #e9e9e9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s;
}

/* Effet au survol */
.staff:hover {
    background: #d1d1d1;
}

/* Boutons (vert) */
.btnenrg {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.btnajout{
     background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

/* Boutons (rouge) */
.btnclose {
    background: #ff4444;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 5px;
    border-radius: 8px;
    cursor: pointer;
}

/* Panneau du plan */
.plan {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Organisation des zones en grille */
.zones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

/* Style des zones */
.zone {
    background-image: url();
    background: #eef2ff;
    padding: 15px;
    border-radius: 12px;
    min-height: 150px;
}

/* Style des employés dans les zones */
.zoneStaff .staff {
    background: #d6dbff;
}

/* Masquer modal */
#modal.hidden { 
    display: none; 
}

/* Fond noir transparent */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    place-content: center;
    place-items: center;

}

/* Boîte centrale de la modal */
.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

/* Champs input */
.modal-box input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    background-color: #cccccc95;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

select.select{
    background-color: #cccccc95;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
}
