* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(to right, black, #4c84ff);
} 

.container {
  display: flex;
}
.content {
  font-size: 14px;
  width: 20%;
  height: 100vh;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li {
  list-style: none;
}

.btnenrg {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  height: 30px;
  width: 100%;
}
.btnenrg:hover{
  background-color: green;
}

.btnajout {
  background: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
}
.btnajout:hover{
  background: #1c711e;

}

.btnclose {
  background: #ff4444;
  color: white;
  padding: 10px;
  width: 100%;
  height: 30px;
  border: none;
  margin-top: 5px;
  border-radius: 8px;
}
.btnclose:hover{
  background: #b92121;
  
}
section.plan {
  width: 80%;
  height: 100vh;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

div.zones {
  height: 95vh;
  padding: 10px;
  background-image:url(plan-69159a65c5684763515973-6918972274aec233423111\ \(1\).jpg) ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

div.zones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "zone1 zone1 . zone2 zone3"
    "zone4 zone4 . . ."
    "zone4 zone4 . zone5 zone6";
}

.zone1 {
  grid-area: zone1;
  background: rgba(255, 0, 0, 0.313);
}
.zone2 {
  position: relative;
  left: -50px;
  width: 110%;
  background: rgba(255, 0, 0, 0.313);
  grid-area: zone2;
 }
.zone3 {
  position: relative;
  left: -20px;
  width: 110%;
  background: rgba(255, 0, 0, 0.313);
  grid-area: zone3;
}
.zone4 {
  grid-area: zone4;
  background: rgba(255, 0, 0, 0.313);

}
.zone5 {
  grid-area: zone5;
  position: relative;
  width: 110%;
   left: -50px;
  background: rgba(255, 0, 0, 0.313);

}
.zone6 {
  position: relative;
  left: -20px;
  width: 110%;
  grid-area: zone6;
  background: rgba(255, 0, 0, 0.313);

}

 .zone1:hover{
  background: rgba(255, 0, 0, 0.183);
}
 .zone2:hover{
  background: rgba(255, 0, 0, 0.183);
}

 .zone3:hover{
  background: rgba(255, 0, 0, 0.183);
}
 .zone4:hover{
  background: rgba(255, 0, 0, 0.183);
}
 .zone5:hover{
  background: rgba(255, 0, 0, 0.183);
}
 .zone6:hover{
  background: rgba(255, 0, 0, 0.183);
}

#modal {
  display: none;
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.304);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  place-content: center;
  place-items: center;
}

#imgemploiyee{
  border-radius:45%;
  position: relative;
  left:34%;
  width: 30%;
  height: 120px;
}
.modalinfo {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 12px;
  width: 500px;
  height: 90%;
  overflow: scroll;
}
.modalinfo input , .modalinfo select {
  height: 30px;
}
.modalinfo select{
  border-radius: 8px;
}
button.small-btn{
  width: 100%;
  height: 20px;
  background-color: rgb(32, 168, 32);
  border: none;
  border-radius: 8px;
  color: white;
}

.profile {
  background-color: rgba(14, 13, 13, 0.386);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0;
  place-content: center;
  place-items: center;
  display: none;
}
div.card-profil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  background-color: rgba(94, 90, 90, 0.763);
  color: white;
  width: 40%;
  height: 70%;
  border-radius: 10px;
}

div.card-profil:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgb(183, 181, 181);
  background-color: rgb(101, 100, 100);


}

.employezone{
  background-color: rgba(14, 13, 13, 0.386);
  color: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0;
  place-content: center;
  place-items: center;
  display: none;
}

.card-employezone{
  display: flex;
  background-color: rgba(52, 50, 50, 0.598);
  width:fit-content;
  border-radius: 10px;
}

button.btn-addzone{
  height: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(26, 216, 26);
}

#closmodale-emploi{
  background-color: red;
  color: white;
  width: 50px;
  border: none;
  border-radius: 6px;
  position: absolute;
  left: 48%;
 }
 #closmodale-emploi:hover{
  background-color: rgb(158, 6, 6);

 }

.modalinfo input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  background-color: #cccccc95;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

select.select {
  background-color: #cccccc95;
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}

.add-btn {
  background: rgb(24, 155, 68);
  width: 25px;
  color: white;
  border: none;
  border-radius: 8px;
}
button {
  cursor: pointer;
}
/* element js  */
.card {
  display: flex;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.436);
  border-radius: 10px;
  margin: 8px 0px;
}
.card:hover{
  background: rgba(121, 119, 119, 0.961);
  transform: translateX(9px);
}

.imgcard {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.emple {
  display: flex;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.703);
  width: fit-content;
}
.btn-rem {
  background-color: red;
  border: 1px solid;
  border-radius: 20px;
}
button.edit{
  height:fit-content; 
  background:orangered;
  border-radius: 6px;
  padding: 2px;
  border: none;
}
img.imgprofil{
  width: 25%;
  
}
img{
  width: 30px;
  border-radius: 7px;
}
.btn-remzone{
  background-color: red;
  color: white;
  border-radius: 6px;
  border: none;
  height: 70%;
  width: 20px;
}
button:hover{
  transform: translateY(-5px);
}
.btn-remzone:hover{
  background-color: rgb(164, 13, 13);
}
@media (min-width: 1280px) {

  .container {
    flex-direction: row;
  }
  .content {
    width: 20%;
  }
  section.plan {
    width: 80%;
  }
 
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    flex-direction: row;
  }
  .content {
    width: 20%;
  }
  section.plan {
    width: 80%;
  }
 
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }
  .content {
    width: 100%;
    height: fit-content;
  }
  section.plan {
    width: 100%;
  }
    #nListemp{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
  }
}

@media (max-width: 769px) {
  body {
    font-size: 10px;
  }
  h3{
    font-size: 11px;
  }
  .imgcard {
    width: 25px;
    border-radius: 50%;
    height: 25px;
  }
 .add-btn {
  background: rgb(24, 155, 68);
  width: 15px;
  color: white;
  border: none;
  border-radius: 8px; 
 }
  .container {
    flex-direction: column;
  }
  .content {
    width: 100%;
    height: fit-content;
  }
  .btn-rem {
  background-color: rgba(255, 0, 0, 0.744);
  border: 1px solid;
  border-radius: 10px;
  height: 15px;

 }
  section.plan {
    width: 100%;
  }
  
  #nListemp{
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .card {
  font-size: 12px;
  display: flex;
  width: 95%;
  padding: 5px;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.436);
  border-radius: 10px;
  margin: 8px 0px;
}

}

@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    font-size: 10px;
  }

}