* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    background:linear-gradient(to right , black , #4c84ff);
}

 
header {
    background: #0c265e;
    padding: 20px;
    color: white;
    text-align: center;
}

 
.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

 
.panel {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 
#nListemp {
    padding: 0;
    list-style: none;
}

 
.staff {
    background: #e9e9e9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.2s;
}

 
.staff:hover {
    background: #d1d1d1;
}

 
.btnenrg {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.btnajout{
     background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}


.btnclose {
    background: #ff4444;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 5px;
    border-radius: 8px;
    cursor: pointer;
}


section.plan {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


div.zones {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}


.zone {
    background-image: url();
    background: #eef2ff;
    padding: 15px;
    border-radius: 12px;
    min-height: 150px;
}


.zoneStaff .staff {
    background: #d6dbff;
}


#modal.hidden { 
    display: none; 
}


#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    place-content: center;
    place-items: center;

}


.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}


.modal-box input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    background-color: #cccccc95;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

select.select{
    background-color: #cccccc95;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
}

.add-btn{
    background: rgb(24, 155, 68);
    width: 25px;
    color: white;
    border: none;
    border-radius: 8px;
}
